# Integer (***Numeric***)

In [ ]:
a = 5
b = -12
c = 0

## Operasi Matematika dengan Integer
Python mendukung berbagai operasi matematika yang melibatkan integer, seperti penjumlahan, pengurangan, perkalian, pembagian, modulo, eksponen, dan pembagian integer.

In [4]:
x = 10
y = 3

# Penjumlahan
z = x + y  # z = 13

# Pengurangan
z = x - y  # z = 7

# Perkalian
z = x * y  # z = 30

# Pembagian
z = x / y  # z = 3.3333333333333335 (hasilnya akan berupa float)

# Modulo (sisa pembagian)
z = x % y  # z = 1

# Eksponen (pangkat)
z = x ** y  # z = 1000

# Pembagian integer (dibulatkan ke bawah)
z = x // y  # z = 3

## Fungsi-fungsi Integer
Python menyediakan beberapa fungsi bawaan yang dapat digunakan untuk melakukan operasi pada integer, seperti abs(), round(), min(), max(), dan divmod().

In [10]:
x = -100
y = 3

# Nilai absolut
z = abs(x)  # z = 5

# Pembulatan
z = round(3.7)  # z = 4

# Nilai minimum
z = min(x, y)  # z = -5

# Nilai maksimum
z = max(x, y)  # z = 3

# Pembagian dan sisa pembagian
z = divmod(x, y)  # z = (-2, 1)

## Konversi Tipe Data Integer
Python memungkinkan Anda untuk mengkonversi tipe data ke tipe data lain menggunakan fungsi seperti int(), float(), dan str().

Catatan: Ketika mengkonversi string ke integer, pastikan string tersebut hanya berisi angka. Jika tidak, Anda akan mendapatkan ValueError.

In [12]:
# Mengkonversi float ke integer
x = 3.7
y = int(x)  # y = 3 (dibulatkan ke bawah)

# Mengkonversi string ke integer
x = "123"
y = int(x)  # y = 123

# Float (***Numeric***)

In [ ]:
a = 3.14
b = -0.5
c = 1.23e-4  # 0.000123

## Operasi Matematika dengan Float
Python mendukung berbagai operasi matematika yang melibatkan float, seperti penjumlahan, pengurangan, perkalian, pembagian, modulo, eksponen, dan pembagian integer.

In [ ]:
x = 10.5
y = 3.2

# Penjumlahan
z = x + y  # z = 13.7

# Pengurangan
z = x - y  # z = 7.3

# Perkalian
z = x * y  # z = 33.6

# Pembagian
z = x / y  # z = 3.28125

# Modulo (sisa pembagian)
z = x % y  # z = 1.1

# Eksponen (pangkat)
z = x ** y  # z = 2538.6177880185014

# Pembagian integer (dibulatkan ke bawah)
z = x // y  # z = 3.0

## Fungsi-fungsi Float
Sama seperti Integer Python menyediakan beberapa fungsi bawaan yang dapat digunakan untuk melakukan operasi pada float, seperti abs(), round(), min(), max(), dan divmod().

In [ ]:
x = -5.5
y = 3.7

# Nilai absolut
z = abs(x)  # z = 5.5

# Pembulatan
z = round(3.7)  # z = 4

# Nilai minimum
z = min(x, y)  # z = -5.5

# Nilai maksimum
z = max(x, y)  # z = 3.7

# Pembagian dan sisa pembagian
z = divmod(x, y)  # z = (-2.0, 2.3)

## Konversi Tipe Data Float
Python memungkinkan Anda untuk mengkonversi tipe data ke tipe data lain menggunakan fungsi seperti int(), float(), dan str().

Catatan: Ketika mengkonversi string ke float, pastikan string tersebut hanya berisi angka dan titik desimal. Jika tidak, Anda akan mendapatkan ValueError.

In [ ]:
# Mengkonversi integer ke float
x = 3
y = float(x)  # y = 3.0

# Mengkonversi string ke float
x = "3.14"
y = float(x)  # y = 3.14

# String (***Sequence***)

## Mendefinisikan String

Untuk mendefinisikan string, Anda cukup mengapit teks dengan tanda kutip tunggal atau kutip ganda:

In [ ]:
s1 = 'Hello, World!'
s2 = "Python Programming"

## Mengakses Elemen String
Anda dapat mengakses elemen string menggunakan indeks. Indeks dimulai dari 0 untuk karakter pertama, 1 untuk karakter kedua, dan seterusnya:

In [42]:
s = 'Hello, World!'
first_char = s[0]  # 'H'
second_char = s[1]  # 'e'
last_char = s[-1]

## Slicing String
Anda dapat mengakses sebagian dari string dengan menggunakan slicing. Slicing memungkinkan Anda untuk memotong string dan menghasilkan substring:

In [5]:
s = "Hello, World!"
substring = s[0:5]  # "Hello"

In [7]:
substring = s[2:5]
substring

'llo'

## Panjang String
Untuk mengetahui panjang string, Anda dapat menggunakan fungsi bawaan ***len()***:

In [ ]:
s = "Hello, World!"
length = len(s)  # 13

## Operasi String
Python mendukung berbagai operasi pada string, seperti penggabungan (concatenation) dan pengulangan (repetition):

In [ ]:
s1 = "Hello"
s2 = "World"

# Penggabungan (concatenation)
s3 = s1 + " " + s2  # "Hello World"

# Pengulangan (repetition)
s4 = s1 * 3  # "HelloHelloHello"

## Metode String
Python menyediakan sejumlah metode bawaan untuk memanipulasi string, seperti ***lower()***, ***upper()***, ***strip()***, ***replace()***, ***find()***, dan ***split()***:

In [ ]:
s = "Hello, World!"

# Mengubah ke huruf kecil
lowercase = s.lower()  # "hello, world!"

# Mengubah ke huruf besar
uppercase = s.upper()  # "HELLO, WORLD!"

# Menghilangkan spasi di awal dan akhir string
trimmed = " Hello, World! ".strip()  # "Hello, World!"

# Menggantikan substring
replaced = s.replace("World", "Python")  # "Hello, Python!"

# Mencari indeks substring
index = s.find("World")  # 7

# Memecah string menjadi list
words = s.split()  # ['Hello,', 'World!']

## String Immutability
String adalah tipe data immutable, yang berarti Anda tidak dapat mengubah elemen string setelah string tersebut dibuat. Jika Anda mencoba mengubah elemen string, Python akan menghasilkan kesalahan:

In [15]:
s = "Hello, World!"
# s[0] = 'h'  # TypeError: 'str' object does not support item assignment

Untuk mengubah string, Anda harus membuat string baru dengan memanipulasi string asli menggunakan operasi atau metode string, seperti yang telah dijelaskan sebelumnya. Misalnya, jika Anda ingin menggantikan karakter pertama string 's' dengan 'h', Anda bisa melakukan hal berikut:

In [37]:
s = "Hello, World!"
new_s = 'h' + s[1:]  # "hello, World!"
new_s

'hello, World!'

Dalam contoh ini, kita membuat string baru 'new_s' dengan menggabungkan karakter 'h' dan elemen string 's' mulai dari indeks 1 hingga akhir. String asli 's' tidak berubah, tetapi kita memiliki string baru yang dihasilkan dengan perubahan yang diinginkan.

### Question

<<>>

jika di amati dari code: <br>
***s = "Hello, World!"***"<br>
maka s[0] yang diambil adalah 'H' namun bukankah pada variable <br>
***new_s = 'h' + s[1:]***<br>
***new_s*** seharusnya ***'h' + s[0:] ?***<br>  


<!-- Ketika kita mengakses elemen pada indeks 0 dari string s, kita mendapatkan karakter pertama, yaitu 'H'. Kode yang diberikan di bawah ini menggantikan karakter pertama dengan karakter 'h':

s = "Hello, World!"<br>
new_s = 'h' + s[1:]  # "hello, World!"<br>

Berikut penjelasan langkah demi langkah tentang apa yang terjadi dalam kode di atas:

s[1:] mengambil elemen string s mulai dari indeks 1 hingga akhir, yaitu "ello, World!".
Kemudian kita menggabungkan karakter 'h' dengan substring yang dihasilkan, yaitu "ello, World!".
Hasil penggabungan ini adalah "h" + "ello, World!" = "hello, World!".
Jadi, kita menggantikan karakter pertama (s[0]) dari string asli 's' dengan karakter 'h' untuk membuat string baru 'new_s'. Proses ini tidak mengubah string asli 's' karena string adalah tipe data immutable. Namun, kita berhasil membuat string baru 'new_s' dengan karakter pertama yang diubah sesuai keinginan kita. -->

# List (***Sequence***)

## Contoh pembuatan list

In [1]:
# Contoh pembuatan list
my_list = ['apel', 'pisang', 'jeruk']
my_list

['apel', 'pisang', 'jeruk']

## Mengakses Elemen List
- Anda dapat mengakses elemen dalam list menggunakan indeks. Indeks dimulai dari 0.

In [2]:
my_list = ['apel', 'pisang', 'jeruk']
print(my_list[0])  # Output: apel
print(my_list[2])  # Output: jeruk

apel
jeruk

## Mengganti Elemen List
- Karena list bersifat mutable, Anda dapat mengganti elemen dalam list dengan mudah.

In [3]:
my_list = ['apel', 'pisang', 'jeruk']
my_list[1] = 'mangga'
print(my_list)  # Output: ['apel', 'mangga', 'jeruk']

['apel', 'mangga', 'jeruk']

## Menambah Elemen ke List
- Anda dapat menambahkan elemen ke list dengan menggunakan metode ***append().***

In [4]:
my_list = ['apel', 'pisang', 'jeruk']
my_list.append('mangga')
print(my_list)  # Output: ['apel', 'pisang', 'jeruk', 'mangga']

['apel', 'pisang', 'jeruk', 'mangga']

## Menghapus Elemen dari List
- Anda dapat menghapus elemen dari list dengan menggunakan metode remove() atau pop()

In [5]:
my_list = ['apel', 'pisang', 'jeruk']
my_list.remove('pisang')
print(my_list) 

my_list = ['apel', 'pisang', 'jeruk']
my_list.pop(1)
print(my_list)

['apel', 'jeruk']
['apel', 'jeruk']

## Slicing List
- Anda dapat mengakses sebagian list dengan menggunakan slicing.

In [17]:
my_list = ['apel', 'pisang', 'jeruk', 'mangga', 'anggur']
sub_list = my_list[1:4]
print(sub_list)

['pisang', 'jeruk', 'mangga']

In [21]:
sub_list = my_list[-2:]
print(sub_list)

['mangga', 'anggur']

## Fungsi dan Metode List Lainnya
- Beberapa fungsi dan metode lain yang sering digunakan pada list antara lain: ***len()***, ***insert()***, ***count()***, ***sort()***, ***reverse()***, dan ***extend()***.

## Fungsi len()
- Fungsi ***len()*** digunakan untuk menghitung jumlah elemen dalam sebuah list.

In [7]:
my_list = ['apel', 'pisang', 'jeruk', 'mangga', 'anggur']
print(len(my_list))

5

## Metode insert()
- Metode ***insert()*** digunakan untuk menambahkan elemen pada posisi tertentu dalam list. Metode ini membutuhkan dua argumen: indeks di mana elemen akan dimasukkan, dan elemen yang akan ditambahkan.

In [8]:
my_list = ['apel', 'pisang', 'jeruk']
my_list.insert(1, 'mangga')
print(my_list)

['apel', 'mangga', 'pisang', 'jeruk']

## Metode count()
- Metode ***count()*** digunakan untuk menghitung jumlah kemunculan suatu elemen dalam lis

In [9]:
my_list = [1, 2, 3, 2, 1, 3, 1, 1, 2, 3]
print(my_list.count(1))

4

## Metode sort()
- Metode ***sort()*** digunakan untuk mengurutkan elemen dalam list. Secara default, metode ini akan mengurutkan elemen dalam urutan menaik. Anda juga dapat mengurutkan dalam urutan menurun dengan menggunakan argumen ***reverse=True.***

In [10]:
my_list = [3, 1, 4, 1, 5, 9, 2, 6]
my_list.sort()
print(my_list)

my_list.sort(reverse=True)
print(my_list)

[1, 1, 2, 3, 4, 5, 6, 9]
[9, 6, 5, 4, 3, 2, 1, 1]

## Metode reverse()
- Metode ***reverse()*** digunakan untuk membalik urutan elemen dalam list.

In [11]:
my_list = ['apel', 'pisang', 'jeruk', 'mangga', 'anggur']
my_list.reverse()
print(my_list)

['anggur', 'mangga', 'jeruk', 'pisang', 'apel']

## Metode extend()
- Metode extend() digunakan untuk menggabungkan elemen dari satu list ke list lain. Metode ini akan menggabungkan elemen dari list yang diberikan sebagai argumen ke list yang memanggil metode ini.

In [12]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list1.extend(list2)
print(list1)

[1, 2, 3, 4, 5, 6]

In [13]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
print("Anda juga dapat menggunakan operator + untuk menggabungkan dua list.")
result = list1 + list2
print(result)

Anda juga dapat menggunakan operator + untuk menggabungkan dua list.
[1, 2, 3, 4, 5, 6]

## Menggunakan Fungsi sorted()
- Fungsi ***sorted()*** digunakan untuk mengurutkan elemen dalam list dan mengembalikan list baru yang telah diurutkan, tanpa mengubah list asli. Anda juga dapat mengurutkan dalam urutan menurun dengan menggunakan argumen ***reverse=True.***

In [14]:
my_list = [3, 1, 4, 1, 5, 9, 2, 6]
sorted_list = sorted(my_list)
print(sorted_list) 
print(my_list) 

sorted_list = sorted(my_list, reverse=True)
print(sorted_list)

[1, 1, 2, 3, 4, 5, 6, 9]
[3, 1, 4, 1, 5, 9, 2, 6]
[9, 6, 5, 4, 3, 2, 1, 1]

## Fungsi sum() dan max()
- Fungsi ***sum()*** digunakan untuk menghitung jumlah total elemen dalam list, dan fungsi ***max()*** digunakan untuk menemukan elemen terbesar dalam list. Kedua fungsi ini hanya dapat digunakan pada list yang berisi elemen bertipe numerik.

In [15]:
my_list = [1, 2, 3, 4, 5]
print(sum(my_list))
print(max(my_list))

15
5

## Nested Lists
- Nested lists atau list bersarang adalah list yang berisi list lain sebagai elemennya. Nested lists sering digunakan untuk merepresentasikan struktur data seperti matriks atau pohon.

In [25]:
nested_list = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

print(nested_list[0])  
print(nested_list[1][2])

[1, 2, 3]
6

## Enumerating Lists dengan Fungsi enumerate()
- Fungsi ***enumerate()*** digunakan untuk menghasilkan pasangan indeks dan elemen dalam list. Fungsi ini sering digunakan dalam loop for untuk mengiterasi list sambil mengakses indeks dan elemen.

In [17]:
my_list = ['apel', 'pisang', 'jeruk', 'mangga', 'anggur']

for index, element in enumerate(my_list):
    print(f"Index: {index}, Elemen: {element}")

Index: 0, Elemen: apel
Index: 1, Elemen: pisang
Index: 2, Elemen: jeruk
Index: 3, Elemen: mangga
Index: 4, Elemen: anggur

## Menggabungkan List dengan Fungsi zip()
- Fungsi ***zip()*** digunakan untuk menggabungkan beberapa list menjadi satu list berisi tuple, di mana tuple ke-i berisi elemen ke-i dari setiap list yang digabungkan. Panjang list yang dihasilkan sama dengan panjang list terpendek yang digabungkan.

In [18]:
names = ['Alice', 'Bob', 'Charlie']
ages = [25, 30, 35]

combined = zip(names, ages)
combined_list = list(combined)
print(combined_list)

[('Alice', 25), ('Bob', 30), ('Charlie', 35)]

## List Comprehension
- List comprehension adalah cara yang lebih singkat dan elegan untuk membuat list yang baru dari list yang sudah ada.

In [19]:
numbers = [1, 2, 3, 4, 5]
squares = [x**2 for x in numbers]
print(squares)  # Output: [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

# Soal List

Berikut merupakan soal latihan yang harus di jawab ketika kelas berlangsung

0) Jelaskan Apa Itu List?

1) Akses Elemen List: Diberikan list angka = [10, 20, 30, 40, 50], akses elemen ketiga dari list tersebut.

2) Manipulasi List: Diberikan list buah = ['apel', 'jeruk', 'mangga'], tambahkan elemen 'pisang' ke dalam list.

3) Penggabungan List: Gabungkan dua list berikut menjadi satu list baru: list1 = [1, 2, 3] dan list2 = [4, 5, 6].

4) Fungsi dan Metode List: Gunakan fungsi len() untuk menghitung panjang dari list hewan = ['kucing', 'anjing', 'kelinci'].

5) Slicing List: Diberikan list angka = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], ambil elemen dari indeks 2 hingga 7 (ekslusif).

6) Perulangan List: Gunakan perulangan for untuk mencetak semua elemen dalam list kota = ['Jakarta', 'Surabaya', 'Bandung'].

7) List Comprehension: Buatlah list baru yang berisi kuadrat dari setiap angka dalam list angka = [1, 2, 3, 4, 5] menggunakan list comprehension.

8) Nested List: Diberikan nested list matriks = [[1, 2, 3], [4, 5, 6], [7, 8, 9]], akses elemen dengan nilai 5.

In [ ]:
# SOAL NO 1
List merupakan salah satu struktur data dalam python yang digunakan untuk menyimpan sekumpulan data dalam satu variable.

In [3]:
# SOAL NO 2
my_list=[10,20,30,40,50]
print(my_list[2])

30

In [7]:
# SOAL NO 3
my_list=['apel', 'jeruk', 'mangga']
my_list.append('pisang')
print(my_list)

['apel', 'jeruk', 'mangga', 'pisang']

In [11]:
# SOAL NO 4
list1=[1, 2, 3]
list2=[4, 5, 6]
result=list1 + list2
print(result)

[1, 2, 3, 4, 5, 6]

In [15]:
# SOAL NO 5
list=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
sub_list=list[1:8]
print(sub_list)

[1, 2, 3, 4, 5, 6, 7]

In [25]:
# SOAL NO 6
my_list=['Jakarta', 'Surabaya', 'Bandung']
for index, element in enumerate(my_list):
    print(f"Index: {index}, Kota: {element}")

Index: 0, Kota: Jakarta
Index: 1, Kota: Surabaya
Index: 2, Kota: Bandung

In [29]:
# SOAL NO 7
my_list=[1, 2, 3, 4, 5]
squares=[x**2 for x in my_list]
print(squares)

[1, 4, 9, 16, 25]

In [30]:
# SOAL NO 8
matriks = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(matriks[1][1])

5

# Dictionaries (***Mapping Data Type***)

## Membuat Dictionaries
- Membuat dictionary di Python sangat mudah. Anda hanya perlu menggunakan tanda kurung kurawal dan memisahkan setiap pasangan kunci-nilai dengan koma. Setiap kunci dan nilainya dipisahkan dengan titik dua.

In [1]:
# Contoh pembuatan dictionary
my_dict = {'nama': 'Budi', 'umur': 25, 'pekerjaan': 'Programmer'}
my_dict

{'nama': 'Budi', 'umur': 25, 'pekerjaan': 'Programmer'}

## Mengakses Nilai dalam Dictionaries
- Anda dapat mengakses nilai dalam dictionary menggunakan kunci yang bersesuaian.

In [21]:
my_dict = {'nama': 'Budi', 'umur': 25, 'pekerjaan': 'Programmer'}
print(my_dict['nama'])  
print(my_dict['umur'])

Budi
25

## Mengganti Nilai dalam Dictionaries
- Karena dictionaries bersifat mutable, Anda dapat mengganti nilai dalam dictionary dengan mudah.

In [22]:
my_dict = {'nama': 'Budi', 'umur': 25, 'pekerjaan': 'Programmer'}
my_dict['umur'] = 26
print(my_dict)  # Output: {'nama': 'Budi', 'umur': 26, 'pekerjaan': 'Programmer'}

{'nama': 'Budi', 'umur': 26, 'pekerjaan': 'Programmer'}

## Menambahkan Pasangan Kunci-Nilai ke Dictionaries
- Anda dapat menambahkan pasangan kunci-nilai baru ke dictionary dengan menginisialisasi nilai baru menggunakan kunci baru.

In [23]:
my_dict = {'nama': 'Budi', 'umur': 25, 'pekerjaan': 'Programmer'}
my_dict['kota'] = 'Jakarta'
print(my_dict)  # Output: {'nama': 'Budi', 'umur': 25, 'pekerjaan': 'Programmer', 'kota': 'Jakarta'}

{'nama': 'Budi', 'umur': 25, 'pekerjaan': 'Programmer', 'kota': 'Jakarta'}

## Menghapus Pasangan Kunci-Nilai dari Dictionaries
- Anda dapat menghapus pasangan kunci-nilai dari dictionary dengan menggunakan perintah `del`.

In [24]:
my_dict = {'nama': 'Budi', 'umur': 25, 'pekerjaan': 'Programmer', 'kota': 'Jakarta'}
del my_dict['kota']
print(my_dict)  # Output: {'nama': 'Budi', 'umur': 25, 'pekerjaan': 'Programmer'}

{'nama': 'Budi', 'umur': 25, 'pekerjaan': 'Programmer'}

## Metode Dictionaries
Beberapa metode yang sering digunakan pada dictionaries antara lain: keys(), values(), items(), get(), update(), pop(), dan clear().

## Metode keys()
- ***keys()*** mengembalikan list kunci dalam dictionary

In [25]:
my_dict = {'nama': 'Budi', 'umur': 25, 'pekerjaan': 'Programmer'}

my_dict.keys()

dict_keys(['nama', 'umur', 'pekerjaan'])

## Metode values()
- ***values()*** mengembalikan list nilai dalam dictionary

In [26]:
my_dict.values()

dict_values(['Budi', 25, 'Programmer'])

## Metode items()
- ***items()*** mengembalikan list pasangan kunci-nilai dalam bentuk tuple

In [27]:
my_dict.items()

dict_items([('nama', 'Budi'), ('umur', 25), ('pekerjaan', 'Programmer')])

## Metode get()
- ***get()*** mengembalikan nilai untuk kunci yang diberikan, atau nilai default jika kunci tidak ditemukan

In [28]:
print(my_dict.get('nama', 'Tidak ditemukan'))  # Output: Budi
print(my_dict.get('alamat', 'Tidak ditemukan'))  # Output: Tidak ditemukan

Budi
Tidak ditemukan

## Metode update()
- ***update()*** menggabungkan dua dictionary

In [29]:
dict1 = {'nama': 'Budi', 'umur': 25}
dict2 = {'pekerjaan': 'Programmer', 'kota': 'Jakarta'}
dict1.update(dict2)
dict1

{'nama': 'Budi', 'umur': 25, 'pekerjaan': 'Programmer', 'kota': 'Jakarta'}

## Metode pop()
- ***pop()*** menghapus pasangan kunci-nilai berdasarkan kunci yang diberikan dan mengembalikan nilai yang diberikan saja

In [30]:
umur = my_dict.pop('umur')
print(umur)  # Output: 25
print(my_dict)  # Output: {'nama': 'Budi', 'pekerjaan': 'Programmer'}

25
{'nama': 'Budi', 'pekerjaan': 'Programmer'}

## Metode clear()
- ***clear()*** menghapus semua pasangan kunci-nilai dalam dictionary

In [31]:
my_dict.clear()
print(my_dict)

{}

## Iterasi pada Dictionaries
- Anda dapat mengiterasi pasangan kunci-nilai dalam dictionary menggunakan loop `for`.

In [32]:
my_dict = {'nama': 'Budi', 'umur': 25, 'pekerjaan': 'Programmer'}

for key, value in my_dict.items():
    print(f"{key}: {value}")

nama: Budi
umur: 25
pekerjaan: Programmer

# Soal Dictionaries

Berikut merupakan soal latihan yang harus di jawab ketika kelas berlangsung

0) Jelaskan Apa Itu Dictionaries?

1) Pendahuluan Dictionaries: Buatlah sebuah dictionary yang menyimpan informasi tentang diri Anda, seperti nama, umur, dan kota.

2) Akses Elemen Dictionaries: Diberikan dictionary kendaraan = {'mobil': 5, 'motor': 10, 'sepeda': 3}, akses jumlah motor dalam dictionary tersebut.

3) Manipulasi Dictionaries: Diberikan dictionary stok_buku = {'Matematika': 10, 'Fisika': 8, 'Biologi': 15}, tambahkan elemen baru ke dalam dictionary dengan kunci 'Kimia' dan nilai 12.

4) Menggabungkan Dictionaries: Gabungkan dua dictionaries berikut menjadi satu dictionary baru: dict1 = {'a': 1, 'b': 2} dan dict2 = {'c': 3, 'd': 4}.

5) Fungsi dan Metode Dictionaries: Gunakan metode keys() untuk mengambil semua kunci dari dictionary harga = {'nasi': 5000, 'ayam': 15000, 'tempe': 4000}.

6) Fungsi dan Metode Dictionaries: Gunakan metode values() untuk mengambil semua kunci dari dictionary harga = {'nasi': 5000, 'ayam': 15000, 'tempe': 4000}.

In [ ]:
# SOAL NO 1
Dictionaries merupakan salah satu struktur data dalam pyhthon yang digunakan untuk menyimpan data dalam pasangan kunci-nilai.

In [33]:
# SOAL NO 2
kendaraan = {'mobil': 5, 'motor': 10, 'sepeda': 3}
print(kendaraan['motor'])

10

In [34]:
# SOAL NO 3
stok_buku = {'Matematika': 10, 'Fisika': 8, 'Biologi': 15}
stok_buku['Kimia']=12
print(stok_buku)

{'Matematika': 10, 'Fisika': 8, 'Biologi': 15, 'Kimia': 12}

In [37]:
# SOAL NO 4
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
dict1.update(dict2)
print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [39]:
# SOAL NO 5
harga = {'nasi': 5000, 'ayam': 15000, 'tempe': 4000}
harga.keys()

dict_keys(['nasi', 'ayam', 'tempe'])

In [40]:
# SOAL NO 6
harga = {'nasi': 5000, 'ayam': 15000, 'tempe': 4000}
harga.values()

dict_values([5000, 15000, 4000])

# Tuples (***Sequence***)

## Mengakses Elemen dalam Tuples
- Anda dapat mengakses elemen dalam tuple menggunakan indeks yang bersesuaian.

In [33]:
my_tuple = ('apel', 'pisang', 'jeruk')
print(my_tuple[0])  # Output: apel
print(my_tuple[1])  # Output: pisang

apel
pisang

##  Tuple Slicing
- Sama seperti list, Anda dapat melakukan slicing pada tuple untuk mengambil sebagian elemen dalam tuple.

In [34]:
my_tuple = ('apel', 'pisang', 'jeruk', 'mangga', 'anggur')
sub_tuple = my_tuple[1:4]
print(sub_tuple)  # Output: ('pisang', 'jeruk', 'mangga')

('pisang', 'jeruk', 'mangga')

## Immutable
- Tuple bersifat immutable, yang berarti Anda tidak dapat mengubah elemen tuple setelah tuple dibuat. Operasi berikut akan menghasilkan error:

In [35]:
# my_tuple = ('apel', 'pisang', 'jeruk')
# my_tuple[0] = 'mangga'  # Error: TypeError: 'tuple' object does not support item assignment

## Fungsi len() untuk Tuple
- Anda dapat menggunakan fungsi ***len()*** untuk mengetahui jumlah elemen dalam tuple.

In [36]:
my_tuple = ('apel', 'pisang', 'jeruk')
print(len(my_tuple))  # Output: 3

3

 ## Tuple Concatenation
 - Anda dapat menggabungkan beberapa tuple untuk membuat tuple baru.

In [37]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
concat_tuple = tuple1 + tuple2
print(concat_tuple)  # Output: (1, 2, 3, 4, 5, 6)

(1, 2, 3, 4, 5, 6)

## Fungsi min() dan max()
- Fungsi ***min()*** dan ***max()*** digunakan untuk menemukan elemen terkecil dan terbesar dalam tuple. Kedua fungsi ini hanya dapat digunakan pada tuple yang berisi elemen yang dapat dibandingkan.

In [38]:
my_tuple = (1, 2, 3, 4, 5)
print(min(my_tuple))  # Output: 1
print(max(my_tuple))  # Output: 5

1
5

## Mengubah Tuple menjadi List dan sebaliknya
- Anda dapat mengubah tuple menjadi list atau sebaliknya dengan menggunakan fungsi ***list()*** dan ***tuple()***

In [39]:
my_tuple = ('apel', 'pisang', 'jeruk')
my_list = list(my_tuple)
print(my_list)  # Output: ['apel', 'pisang', 'jeruk']

my_list = ['mangga', 'anggur', 'semangka']
my_tuple = tuple(my_list)
print(my_tuple)  # Output: ('mangga', 'anggur', 'semangka')

['apel', 'pisang', 'jeruk']
('mangga', 'anggur', 'semangka')

## Unpacking Tuple
- Tuple unpacking adalah proses untuk mengekstrak elemen tuple ke dalam variabel terpisah.

In [40]:
my_tuple = ('Budi', 25, 'Programmer')
nama, umur, pekerjaan = my_tuple

print(nama)       # Output: Budi
print(umur)       # Output: 25
print(pekerjaan)  # Output: Programmer

Budi
25
Programmer

## Enumerate
- Fungsi ***enumerate()*** dapat digunakan untuk mengiterasi tuple sambil mendapatkan indeks dan elemen pada posisi tersebut.

In [41]:
fruits = ('apel', 'pisang', 'jeruk', 'mangga')

for index, fruit in enumerate(fruits):
    print(f"{index + 1}. {fruit}")

1. apel
2. pisang
3. jeruk
4. mangga

# Soal Tuple

Berikut merupakan soal latihan yang harus di jawab ketika kelas berlangsung

0) Jelaskan Apa Itu Tuples

1) Pendahuluan Tuples: Buatlah 5 element tuple yang berisi nama-nama merek elektronik yang anda ketahui.

2) Akses Elemen Tuples: Diberikan tuple angka = (10, 20, 30, 40, 50), akses elemen ketiga dari tuple tersebut.

3) Manipulasi Tuples: Diberikan tuple buah = ('apel', 'jeruk', 'mangga'), jelaskan mengapa Anda tidak dapat menambahkan elemen 'pisang' ke dalam tuple.

4) Penggabungan Tuples: Gabungkan dua tuple berikut menjadi satu tuple baru: tuple1 = (1, 2, 3) dan tuple2 = (4, 5, 6).

5) Fungsi Tuple: Gunakan fungsi len() untuk menghitung panjang dari tuple hewan = ('kucing', 'anjing', 'kelinci'), dan berapa jumlah element dalam tuple?.

6) Slicing Tuples: Diberikan tuple angka = (0, 1, 2, 3, 4, 5, 6, 7, 8, 9), ambil elemen dari indeks 2 hingga 7 (ekslusif).

In [ ]:
# SOAL NO 1
Salah satu struktur data dalam python yang digunakan untuk menyimpan data dalam bentuk urutan serta bersifat immutable.

In [1]:
# SOAL NO 2
angka = (10, 20, 30, 40, 50)
print(angka[2])

30

In [7]:
# SOAL NO 3
buah = ('apel', 'jeruk', 'mangga')
#karena tupple bersifat immutable, jika ingin mengubah data tersebut maka perlu dijadikan list
buah = ('apel', 'jeruk', 'mangga')
buah_list = list(buah)
buah_list.append('pisang')
print(buah_list)

['apel', 'jeruk', 'mangga', 'pisang']

In [9]:
# SOAL NO 4
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
tuple_add = tuple1 + tuple2
print(tuple_add)

(1, 2, 3, 4, 5, 6)

In [10]:
# SOAL NO 5
hewan = ('kucing', 'anjing', 'kelinci')
print(len(hewan))

3

In [12]:
# SOAL NO 6
angka = (0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
print(angka[1:7])

(1, 2, 3, 4, 5, 6)

# Sets Data Type

# Membuat Sets 
- Membuat set di Python sangat mudah. Anda hanya perlu menggunakan tanda kurung kurawal dan memisahkan setiap elemen dengan koma. Anda juga bisa menggunakan fungsi ***set()*** untuk membuat set kosong atau mengonversi struktur data lain ke set.

In [42]:
# Contoh pembuatan set
my_set = {1, 2, 3}

# Membuat set kosong
empty_set = set()

# Mengonversi list ke set
my_list = [1, 2, 3, 3, 4, 4]
my_set = set(my_list)  # Hasil: {1, 2, 3, 4}

## Menambahkan Elemen ke Sets
- Anda dapat menambahkan elemen ke set menggunakan metode ***add().***

In [43]:
my_set = {1, 2, 3}
my_set.add(4)
print(my_set)  # Output: {1, 2, 3, 4}

{1, 2, 3, 4}

## Menghapus Elemen dari Sets
- Anda dapat menghapus elemen dari set menggunakan metode ***remove()*** atau ***discard().***

In [44]:
my_set = {1, 2, 3, 4}

# Menggunakan remove() - akan menghasilkan KeyError jika elemen tidak ditemukan
my_set.remove(3)
print(my_set)  # Output: {1, 2, 4}

# Menggunakan discard() - tidak menghasilkan error jika elemen tidak ditemukan
my_set.discard(4)
print(my_set)  # Output: {1, 2}

{1, 2, 4}
{1, 2}

## Operasi Set
- Python mendukung beberapa operasi set seperti `union`, `intersection`, `difference`, dan `symmetric difference`.

In [45]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}

# Union
union_set = A | B
print(union_set)  # Output: {1, 2, 3, 4, 5, 6}

# Intersection
intersection_set = A & B
print(intersection_set)  # Output: {3, 4}

# Difference
difference_set = A - B
print(difference_set)  # Output: {1, 2}

# Symmetric Difference
symmetric_difference_set = A ^ B
print(symmetric_difference_set)  # Output: {1, 2, 5, 6}

{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2}
{1, 2, 5, 6}

## Fungsi len() untuk Set
- Anda dapat menggunakan fungsi ***len()*** untuk mengetahui jumlah elemen dalam set.

In [46]:
my_set = {1, 2, 3, 4}
print(len(my_set))  # Output: 4

4

## Mengetahui Keanggotaan Elemen dalam Set
- Anda dapat mengecek apakah suatu elemen ada dalam set menggunakan operator in.

In [47]:
my_set = {1, 2, 3, 4}

# Mengecek keanggotaan elemen
print(1 in my_set)  # Output: True
print(5 in my_set)  # Output: False

True
False

## Iterasi pada Set
- Anda dapat mengiterasi elemen-elemen dalam set menggunakan perulangan for.

In [48]:
my_set = {'apel', 'pisang', 'jeruk'}

for fruit in my_set:
    print(fruit)

apel
jeruk
pisang

# Soal Set

Berikut merupakan soal latihan yang harus di jawab ketika kelas berlangsung

0) Jelaskan Apa Itu Set

1) Pendahuluan Sets: Buatlah sebuah set yang berisi elemen-elemen berikut: 'apel', 3, 2.5.

2) Akses Elemen Sets: Diberikan set elemen = {10, 'mangga', 3.14}, jelaskan mengapa Anda tidak dapat mengakses elemen kedua dari set tersebut.

3) Manipulasi Sets: Diberikan set angka = {1, 2, 3}, tambahkan elemen 4 ke dalam set.

4) Operasi Sets: Diberikan dua set set1 = {1, 2, 3, 'apel'} dan set2 = {2, 3, 4, 'mangga'}, temukan irisan (intersection) dari kedua set tersebut.

5) Fungsi dan Metode Sets: Gunakan metode add() untuk menambahkan elemen 'jeruk' ke dalam set buah = {'apel', 'mangga', 'pisang'}.

6) Perulangan Sets: Gunakan perulangan for untuk mencetak semua elemen dalam set kategori = {'makanan', 'minuman', 'snack'}.

In [13]:
# Soal 0
# struktur data dalam python yang digunakan untuk menyimpan data dalam bentuk koleksi yang tidak berurutan dan tanpa elemen duplikat.

In [16]:
# Soal 1
set = {'apel', 3, 2.5}
print(set)

{'apel', 2.5, 3}

In [22]:
# Soal 2
element = {10, 'mangga', 3.14}
my_element = list(element)
print(my_element[2])

element1 = {10, 2, 3.14}
print(element1[2])
#tidak bisa mengakses karena set merupakan struktur data yang muttable jika diubah menjadi list ataupun tuppleb

mangga

TypeError: 'set' object is not subscriptable

In [23]:
# Soal 3
angka = {1, 2, 3}
angka.add(4)
print(angka)

{1, 2, 3, 4}

In [26]:
# Soal 4
set1 = {1, 2, 3, 'apel'}
set2 = {2, 3, 4, 'mangga'}
set_int = set1 & set2
print(set_int)

{2, 3}

In [27]:
# Soal 5
buah = {'apel', 'mangga', 'pisang'}
buah.add('jeruk')
print(buah)

{'apel', 'jeruk', 'pisang', 'mangga'}

In [30]:
# Soal 6
kategori = {'makanan', 'minuman', 'snack'}
for lapar in kategori:
    print(lapar)

snack
minuman
makanan

# Boolean Data Type

## Relational Operator 

***Operator relasional*** digunakan untuk membandingkan dua nilai dan menghasilkan suatu kondisi boolean True atau False berdasarkan nilai perbandingan yang diberikan."

- ***Sama dengan (==)***: Menghasilkan True jika kedua nilai sama
- ***Tidak sama dengan (!=)***: Menghasilkan True jika kedua nilai tidak sama
- ***Lebih besar (>)***: Menghasilkan True jika nilai pertama lebih besar dari nilai kedua
- ***Lebih kecil (<)***: Menghasilkan True jika nilai pertama lebih kecil dari nilai kedua
- ***Lebih besar atau sama dengan (>=)***: Menghasilkan True jika nilai pertama lebih besar atau sama dengan nilai kedua
- ***Lebih kecil atau sama dengan (<=)***: Menghasilkan True jika nilai pertama lebih kecil atau sama dengan nilai kedua

In [49]:
x = 5
y = 10

print(x == y)  # Output: False
print(x != y)  # Output: True
print(x < y)   # Output: True
print(x > y)   # Output: False
print(x >= y)  # Output: False
print(x <= y)  # Output: True

False
True
True
False
False
True

## Logical Operator 

***Operator logika*** digunakan untuk menggabungkan atau membandingkan pernyataan boolean.

- ***and***: Menghasilkan True jika kedua pernyataan benar.
- ***or***: Menghasilkan True jika salah satu pernyataan benar.
- ***not***: Menghasilkan True jika pernyataan tersebut salah.

In [50]:
x = True
y = False

print(x and y)  # Output: False
print(x or y)   # Output: True
print(not x)    # Output: False
print(not y)    # Output: True

False
True
False
True

## Penggunaan Boolean dalam Kondisional
- Boolean sering digunakan dalam pengujian kondisi menggunakan pernyataan if, elif, dan else.

In [51]:
x = 10

if x > 5:
    print("x lebih besar dari 5")
else:
    print("x lebih kecil atau sama dengan 5")

x lebih besar dari 5

# Soal Boolean

## Conditional Boolean
- Diberikan tiga variabel dengan nilai sebagai berikut:

- kategori = 'makanan'
- harga = 15000
- berat = 0.5  # dalam kilogram

Buatlah sebuah kondisional yang mengevaluasi apakah kategori sama dengan 'makanan', harga lebih kecil atau sama dengan 20000, dan berat lebih besar dari 0.3. Jika kondisi ini terpenuhi, cetak "Item diterima", jika tidak, cetak "Item ditolak".

In [43]:
# Jawaban Soal Conditional Boolean
kategori = 'makanan'
harga = 15000
berat = 0.5 # dalam kilogram

if kategori == 'makanan'and harga <= 20000 and berat == 0.3:
    print("Item diterima")
else:
    print("Item ditolak")

Item ditolak

<!-- kategori = 'makanan'
harga = 15000
berat = 0.5  # dalam kilogram

if kategori == 'makanan' and harga <= 20000 and berat > 0.3:
    print("Item diterima")
else:
    print("Item ditolak") -->

## Boolean Relational dan Logical Operator
Pada contoh di bawah, kita membuat DataFrame dengan data mahasiswa yang mencakup nama, umur, dan IPK. Kemudian, kita menggunakan operator relasional dan logika untuk menyaring data berdasarkan kriteria tertentu (umur dan IPK).

In [27]:
import pandas as pd
data = {
    'Nama': ['Budi', 'Ani', 'Rina', 'Dedi', 'Eko'],
    'Umur': [21, 20, 23, 19, 22],
    'IPK': [3.5, 3.8, 3.3, 3.9, 3.1]
}
data['Ket'] = ''
df = pd.DataFrame(data)
df

   Nama  Umur  IPK Ket
0  Budi    21  3.5
1   Ani    20  3.8
2  Rina    23  3.3
3  Dedi    19  3.9
4   Eko    22  3.1

### ***Dari data diatas***

- buatlah relational operator dengan umur lebih dari 20 
- buatlah logical operator dengan umur lebih dari 20 dan IPK >= 3.5

In [26]:
import pandas as pd
data = {
    'Nama': ['Budi', 'Ani', 'Rina', 'Dedi', 'Eko'],
    'Umur': [21, 20, 23, 19, 22],
    'IPK': [3.5, 3.8, 3.3, 3.9, 3.1]
}

df = pd.DataFrame(data)
df[df['Umur'] > 20]

   Nama  Umur  IPK
0  Budi    21  3.5
2  Rina    23  3.3
4   Eko    22  3.1

In [24]:
import pandas as pd
data = {
    'Nama': ['Budi', 'Ani', 'Rina', 'Dedi', 'Eko'],
    'Umur': [21, 20, 23, 19, 22],
    'IPK': [3.5, 3.8, 3.3, 3.9, 3.1]
}

df = pd.DataFrame(data)
df[(df['Umur'] > 20) & (df['IPK'] >= 3.5)]

   Nama  Umur  IPK
0  Budi    21  3.5