Terdapat beberapa cara dalam membuka python, salah satunya adalah mengguanakan notepad => comand promt => ketikan python biasanya digunakan pada saat menjalankan engine atau code pytho yang perlu performa tinggi.

Selain itu dapat menggunakan Idi python yang biasanya sudah ada ketika menginstall anaconda seperti jupyter notebook atau spyder. Biasanya digunakan pada saat code sudah kompleks. Kebanyakan data analis dan pelajar biasanya menggunakan jupyter notebook.

Pada jupyter notebook terdapat cell yang digunakan untuk code dan markdown.

Penggunaan markdown untuk membuat heading seperti contoh dibawah ini:

# Heading 1
## Heading 2

In [1]:
# Syntax Python
# Python tidak memerlukan mendeklarasikan variabel, misalnya
A = 3
B = 2.3
print (A,B)

3 2.3

Pada jupyter notebook ketika variabel A dan B setelah dijalankan dihapus kemudian dilakukan perintah print (A,B) maka akan muncul kembali karena masih tersimpan dalam memori komputer.

In [2]:
print (A)
print (B)

# Hasilnya akan ganti baris

3
2.3

In [3]:
print (A, end=',')
print (B)

#Memisahkan dengan koma dalam satu baris

3,2.3

Kelebihan python biasanya menggunakan indenting dan bukan tanda kurung seperti bahasa pemrograman yang lain. Hal ini tentu akan mempermudah user ketika melakukan pemrograman supaya lebih rapi dan terdokumentasi dengan baik. Selain itu indenting juga digunakan untuk menandakan penggunaan rumus if, for atau while.

In [4]:
if (A>10):
    print('ini lebih dari 10')
    print('ini pasti lebih dari 10')
print('ini pasti kurang dari 10')

ini pasti kurang dari 10

In [5]:
# String di python boleh menggunakan singe quote ataupun double quote
print('Ini pasti orang')
print("Ini pasti manusia")
print("Ini 'pasti'manusia")
print("Ini \"pasti\" manusia")

Ini pasti orang
Ini pasti manusia
Ini 'pasti'manusia
Ini "pasti" manusia

Python mirip java atau C++ yang mengenal fungsi-fungsi dasar. Perlu mengimpor atau load fungsi-fungsi yang kompleks.

In [6]:
sin(30)

NameError: name 'sin' is not defined

In [7]:
#Error karena python belum mengenali funsi tersebut, perlu impor modul terlebih dahulu
import math as M
M.sin(30)

-0.9880316240928618

In [ ]:
# Melakukan import beberapa modul sekaligus
import numpy as np, pandas as pd

In [8]:
# Cara mengetahui type data dari suatu variabel
a = 2
b = 2.0
c = 2.99
d = 'oke'
type (b)

float

In [9]:
# Untuk mengetahui fungsi-fungsi yang bisa digunakan oleh suatu variabel
dir(b)

['__abs__',
 '__add__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getformat__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__le__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmod__',
 '__rmul__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__setattr__',
 '__setformat__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 'as_integer_ratio',
 'conjugate',
 'fromhex',
 'hex',
 'imag',
 'is_integer',
 'real']

Juggling variabel (perubahan variabel ditengah code) tidak disarankan dalam data science karena tidak efisien dalam mangement memori.

In [10]:
#Contoh juggling variabel
a = 30
print(type(a))
a = a/5
a, type(a)

# Terdapat perubahan dari int menjadi float

<class 'int'>

(6.0, float)

In [11]:
#Contoh meminimalisir juggling variabel
b = 30.00
print(type(b))
b = b/5.00
b, type(b)

<class 'float'>

(6.0, float)

In [12]:
# List, index pada python dimulai dari 0

L = [1, 2, 3, 4]
L[2]

# Index ketiga dari L adalah 3

3

In [13]:
# Melakukan slicing (memotong/memilah) pada element list
L[:2]

# Memilih 2 element pertama dari List

[1, 2]

In [14]:
# Melakukan slicing (memotong/memilah) pada element list
L[-2:]

# Memilih 2 element terakhir dari List

[3, 4]

In [15]:
# Melakukan slicing (memotong/memilah) pada element list
L[1:3]

# Memilih dari indeks pertama sampai element ketiga

[2, 3]

In [16]:
# Merubah nilai dalam suatu list
L[1] = 50
L
# Merubah indeks pertama dengan nilai 50

[1, 50, 3, 4]

In [17]:
# Tupple ditandai dengan kurung biasa () - immutable (tidak bisa diubah).  

T = ( 41, 42, 43, 44)
T[:3]

(41, 42, 43)

Tupple lebih cepat sehingga memakan memori yang lebih sedikit. Biasanya digunakan untuk data-data konstan yang tidak berubah.
List untuk sesuatu nilai yang kemungkinan akan berubah.
Contoh fungsi yang bisa digunakan di List tetapi tidak bisa digunakan pada Tupple sebagai berikut:

In [18]:
L = [54, 22, 18, 24]
L.sort()
L

[18, 22, 24, 54]

In [19]:
T = (54, 22, 18, 24)
T.sort()
T

# Akan terjadi error

AttributeError: 'tuple' object has no attribute 'sort'

List python bukan array, dimana bisa memasukan berbagai macam type data.

In [20]:
AB = [True, 'Aku manusia', 2.0, 1]
AB

[True, 'Aku manusia', 2.0, 1]

In [21]:
#Menambahkan data pada List

AB = [3, 4, 6, 90]
AB.append(80)
print(AB)

AC = [91, 92, 93]
AC.extend([94, 95, 96])
print(AC)

D = AB + AC
print(D)
# Hanya menambahkan data saja tidak melakukan operasi hitungan

[3, 4, 6, 90, 80]
[91, 92, 93, 94, 95, 96]
[3, 4, 6, 90, 80, 91, 92, 93, 94, 95, 96]

In [22]:
# Menghapus salah satu index dalam list
List = [90, 91, 92, 93, 94]
del List[2]
List

# Menghapus index ketiga dalam list

[90, 91, 93, 94]

Himpunan berbeda dengan list dan tupple, himpunan tidak akan menuliskan nilai yang sama.

In [23]:
H = {1, 2, 2, 3, 4, 5, 5}
H

{1, 2, 3, 4, 5}

In [24]:
# Himpunan juga tidak memiliki index, maka hasilnya akan error
H[1]

TypeError: 'set' object is not subscriptable

In [25]:
# Cara mengakses himpunan
Jumlah = {1, 2, 2, 3, 4, 5, 5}
6 in Jumlah

False

In [26]:
5 in Jumlah

True

In [27]:
# Menambahkan element ke dalam himpunan
Jumlah = {9, 2, 2, 3, 4, 5, 5}
Jumlah.add(67)
Jumlah

{2, 3, 4, 5, 9, 67}

In [28]:
# Dictionary mirip seperti List tetapi indeksnya terserah oleh user.
D = {'a':100, 'b':200, 'c':300}
D['a']

100

Conditional statement
IF biasanya digunakan untuk mempartisi tindakan (benar atau salah) => perlu ada syarat untuk menjalankannya. Secara umum bentuk percabangannya sebagai berikut:

IF (Statement 1):
   Action(s) 1
ELSE IF (Statement 2):
   Action(s) 2
.
.
ELSE:
   Action(s) N

Secara algoritma penggunaan kondisi IF sebaiknya bernilai bolean

Dalam logika IF memiliki hierarki atau tingkatan dalam codenya. Contohnya:

if (n>5)
    tindakan 1
else if (n>3)
    tindakan 2
else
    tindakan 3

In [35]:
nilai = int(input('nilai = '))
nilai

if nilai>0:
    print('nilai tersebut bilangan positif')
elif nilai==0:
    print('nilai = 0')
else:
    print('nilai tersebut bilangan negatif')

nilai = -13
nilai tersebut bilangan negatif

Logika untuk kondisi if tidak harus kondisi bolean (Bolean Trap)

Catch error untuk user tentu akan berbeda dengan progammer, hal ini akan menentukan bagaimana program itu dibuat.

In [37]:
# Contoh catch error yang sebaiknya untuk user
try:
    n = int(input("Tolong masukan angka interger = "))
    print("Oke sudah benar")
except:
    print("Sepertinya yang anda masukan salah")
    
# Dengan code ini tidak diketahui errornya pada bagian mana,jika user memasukan datanya salah

Tolong masukan angka interger = Ruwanda
Sepertinya yang anda masukan salah

In [39]:
# Contoh catch error (Try except)
try:
    n = int(input("Tolong masukan angka interger = "))
    print("Oke sudah benar")
except Exception as error:
    print('Error : ', error)

Tolong masukan angka interger = Ruwanda
Error :  invalid literal for int() with base 10: 'Ruwanda'

Dari data tersebut maka akan diketahui oleh programmer salahnya dimana. Hal ini akan sangat berguna pada saat production level, program akan terus berjalan dan error akan diakumulasi (akan diperbaiki nanti).

Loop di python => digunakan untuk melakukan sesuatu berulang-ulang.

In [40]:
range(5)

range(0, 5)

In [41]:
list(range(5))

[0, 1, 2, 3, 4]

In [48]:
a = 0
for i in range(6):
    a = a + 2
a

12

Loop akan dijalankan 6 kali dengan setiap perulangan ditambahkan 2
Iterasi pertama 0 + 2 = 2
Iterasi kedua 2 + 2 = 4
. . .
Iterasi keeenam 10 + 2 = 12

In [49]:
# Dalam loop python juga boleh menggunakan suatu list/array

kendaraan = ['becak', 'motor', 'mobil', 'pesawat']

for x in kendaraan:
    print(x)

becak
motor
mobil
pesawat

In [50]:
# Untuk menambahkan indeks dalam list menggunakan loop
# Bisa digunakan apabila membutuhkan nilai indeks untuk mengganti data dalam suatu list
for i,x in enumerate(kendaraan):
    print(i, x)

0 becak
1 motor
2 mobil
3 pesawat

In [55]:
# Salah satu cara invers transformasi suatu data
A = [55,45,40,41,38,30,24,17,9,-2,-30]
B = [] # menginisiasi array (list) kosong
for data in A:
    B.append(1/data)  # append digunakan untuk menambahkan element ke suatu array
print(A)
print(B)

[55, 45, 40, 41, 38, 30, 24, 17, 9, -2, -30]
[0.01818181818181818, 0.022222222222222223, 0.025, 0.024390243902439025, 0.02631578947368421, 0.03333333333333333, 0.041666666666666664, 0.058823529411764705, 0.1111111111111111, -0.5, -0.03333333333333333]

Cara diatas kurang baik karena memakan memory. Jika A terlalu banyak (big data) maka volume akan besar dan akan mengcopy memory.

In [56]:
A = [55,45,40,41,38,30,24,17,9,-2,-30]
N = len(A)
for i in range(N):
    A[i] = 1/A[i]  # disebut sebagai in-place processing, lebih hemat memory
print(A)

[0.01818181818181818, 0.022222222222222223, 0.025, 0.024390243902439025, 0.02631578947368421, 0.03333333333333333, 0.041666666666666664, 0.058823529411764705, 0.1111111111111111, -0.5, -0.03333333333333333]

In [57]:
# Cara ketiga yang digunakan untuk mentransform data sesuai rekomendasi python
A = [55,45,40,41,38,30,24,17,9,-2,-30]
for i, a in enumerate(A): # perintah enumerate di python menghasilkan variabel "index" dari 'a'
    A[i] = 1/a  # in-place processing
print(A)

[0.01818181818181818, 0.022222222222222223, 0.025, 0.024390243902439025, 0.02631578947368421, 0.03333333333333333, 0.041666666666666664, 0.058823529411764705, 0.1111111111111111, -0.5, -0.03333333333333333]

In [58]:
# List comprehension
['hi' for i in range (3)]

['hi', 'hi', 'hi']

In [59]:
Angka = [5,6,7,8]
[x**2 for x in Angka]

[25, 36, 49, 64]

In [66]:
A = [55,45,40,41,38,30,24,17,9,-2,-30]
A = [1/x for x in A] # list comprehension secara umum lebih cepat dan sederhana
print(A)

[0.01818181818181818, 0.022222222222222223, 0.025, 0.024390243902439025, 0.02631578947368421, 0.03333333333333333, 0.041666666666666664, 0.058823529411764705, 0.1111111111111111, -0.5, -0.03333333333333333]